@import 'style/variables.scss';
@import 'style/mixins.scss';
@import 'style/fonts.scss';

body {
  padding: 0;
  margin: 0;
}

input {
  height: $input-height;
  font-size: $page-font-size;

  &[type='text'] {
    width: $input-text-width;
  }

  &[type='checkbox'] {
    width: $input-height;
  }

  &[type='button'] {
    height: $input-height;
    padding: 10px;
    font-size: $input-height - 20px;
  }
}

textarea {
  width: $input-text-width;
  line-height: $page-font-size;
  height: ($page-font-size * 3);
  font-size: $page-font-size - 10px;;
}
